/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

html {
    font-size: 0.8rem;
}

@media screen and (min-width: 20rem) {
    html {
        font-size: calc(0.8rem + 1.2 * ((100vw - 20rem) / 30));
    }
}

@media screen and (min-width: 50rem) {
    html {
        font-size: 1.5rem;
    }
}

body {
    line-height: 1.5rem;
    margin: 0 auto !important;
    background-size: 1px 1.5rem;
}

p {
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 1.5rem;
    font-weight: 700;
}

h1 {
    font-size: 3rem;
    line-height: 3rem;
    margin-top: calc((1.5rem - 2rem) + 1.5rem);
}

h2 {
    font-size: 2rem;
    line-height: 2rem;
    margin-top: calc((1.5rem - 1.5rem) + 1.5rem*2);
}

h3 {
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin-top: calc((1.5rem - 1.25rem) + 1.5rem*2);
}

h4 {
    font-size: 1rem;
    line-height: 1rem;
    margin-top: calc((1.5rem - 1rem) + 1.5rem*2);
}

h5 {
    font-size: 0.875rem;
    line-height: 0.875rem;
    margin-top: calc((1.5rem - 0.875rem) + 1.5rem*2);
}

.button {
    background-color: white;
    border-radius: 500px;
    padding: 0.25rem 1rem;
    color: #0A0EFF;
    border: 5px solid white !important;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.button:hover,
.button:focus {
    background-color: #0A0EFF;
    color: white;
}

.font-weight-700 {
    font-weight: 700;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}


.mb-3 {
    margin-bottom: 3rem;
}

.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.img--fullw {
    width: 100%;
    max-width: 100%;
}

/***************************
Container
***************************/

.container {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.p--big {
    padding: 3rem 0 3rem 0;
}

.p--small {
    padding: 1rem 0 1rem 0;
}

.text--center {
    text-align: center;
}

.container--branded {
    background-color: #0A0EFF;
    color: #fff;

}

.container--branded--light {
    background-color: #e7e7ff;
}

.container__inner {
    max-width: 50rem;
    margin: auto;
}

.container__inner ul li {
    padding-bottom: 1rem;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-align {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.col-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

}

@media screen and (min-width: 1024px) {
    .col-2 {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .col-2 .left,
    .col-2 .right {
        padding: 0 1rem;
        width: 50%;
    }

    footer .container__inner {
        padding: 0 1rem;
    }
}



/***************************
NAV
***************************/

nav ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

nav ul li {
    padding-bottom: 0 !important;
}


nav ul li a {
    color: black;
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin: 0 1rem;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

a:hover,
a:focus {
    border-bottom: 7px solid #0A0EFF;
}

.logo img,
.logo {
    width: 60px;
    height: 60px;
}

a.logo:hover,
a.logo:focus {
    border-bottom: 0;
    opacity: 0.7;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


/***************************
HEADER
***************************/

@media screen and (min-width: 1024px) {

    header {
        z-index: 10000000;
        top: 0;
        left: 0;
        right: 0;
        position: fixed;
        height: 133px;
        width: 100%;
        background-color: white;
        -webkit-box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.05);
        box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.05);
    }

    a.anchor {
        display: block;
        position: relative;
        top: -133px;
        visibility: hidden;
    }


    main {
        margin-top: 133px;
    }

}

/***************************
FOOTER
***************************/

footer {
    background-color: #0A0EFF;
    color: white;
    margin-top: 2rem;
}

footer p {
    padding-right: 1rem;
}

/****************************
FUNKTIONEN TEIL 
*****************************/

#beispieltextdiv{
margin:1rem;
padding:2rem;
color:#e7e7ff;
background-color:#0A0EFF;
animation: klarer 5s infinite ease ;
animation-direction: alternate;

}

@keyframes klarer{
form {
    margin:1rem;
    padding:3rem;
    color:#e7e7ff;
    background-color:#0A0EFF;

}

to{

    letter-spacing: 0.5rem;
    line-height: 0.9rem;
    word-spacing: 0.3rem;
    font-weight: bold;
    size: 1.3rem;

}

}

#beispielBilddiv  {
   
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    flex-direction: row;
   align-content: flex-start;
   
   


}

#arrow{
    margin-bottom: 5rem;
    margin-left: 2rem;
    margin-right:3rem
}

#textalternativediv{
    display: inline-block;
    margin-bottom: 10rem;
}

#textalternativep{ 
    
  background-color:#0A0EFF;
  color:cornsilk;
  margin-left: 0.2rem;
    padding:0.5rem;
  position:relative;
  top: -6.5rem; 
  border-radius: 0.4rem;
  box-shadow: #0c0e6b 7px 7px 5px;
  margin-bottom: -4rem;
}

@media screen and (max-width: 1109px) {
    #textalternativep{
    position: static;
    margin-left:0.2rem
    }
}
@media screen and (max-width: 780px) {
    #arrow{
        margin-bottom: 1rem;
        margin-top: 1rem;
        margin-left: 3rem;
        margin-right:3rem
    }
}



audio{
    width: 95%;
    height: 4rem;
    background:#0A0EFF;
}

audio:hover {transform: scale(1.1);filter: drop-shadow(2px 3px 3px #333);}